* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 13px;
}

img {
    height: 335px;
}