{% extends 'base.html' %}

{% block content %}

<!--Este template corresponde à página que mostrar uma listagem
de todos os produtos cadastrados-->
<div class="container mt-3">

    <h1>Lista de produtos</h1>
    <a href="{{ url_for('editar_produto', id=0) }}" class="btn btn-primary">Adicionar</a>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Descricao</th>
                <th scope="col">Preço</th>
                <th scope="col">Imagem</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- É preciso repetir a linha da tabela para cada
            produto existente no dicionário -->
                {% for id, produto in produtos.items() %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ produto['nome'] }}</td>
                    <td>{{ produto['descricao'] }}</td>
                    <td>{{ produto['preco'] }}</td>
                    <td><img src="{{ url_for('static',filename='img/' + produto['imagem']) }}" alt="thumbnail" class="img-thumbnail"></td>
                    <td><a href="{{ url_for('exibir_produto', id=id) }}">Editar</a></td>
                </tr>
                {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}