<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <title>Personagem</title>
</head>
<body>
 <div class="container">
    <div class="personagem harry"><a href="http://127.0.0.1:5000/harry/1"><img src="/static/img/harry.webp"><p></p></a></div>
    <div class="personagem ron"><a href="http://127.0.0.1:5000/ron/2"><img src="/static/img/ron.png"><p></p></a></div>
    <div class="personagem hermione"><a href="http://127.0.0.1:5000/hermione/3"><img src="/static/img/hermione.png"><p></p></a></div>
 </div>
    <script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>