<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style_personagem.css')}}">
    <title>Personagem</title>
</head>
<body>
    <div class="container">
        <div class="personagem">
            <img src="/static/img/ron.png">
            <h1>{{nome}}</h1>
            <p>É da raça {{raca}} e estuda na casa {{casa}}</p>
            <p>{{nome}} nasceu em {{nascimento}} tem cabelo {{cabelo}} e olhos {{olhos}}</p>
        </div>
    </div>
    <script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>